<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - WorkingShare</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/UIParts/Menu")
        @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app class="body--layout">
    <header class="header--layout">
        <p>WorkingShareへようこそ</p>
        <button class="btn button--layout--login">ログイン</button>
        <button class="btn button--layout--register">ユーザ登録</button>
        <button class="btn button--layout--help">ヘルプ</button>
    </header>

    <div class="layout--line">
        <div class="cssmenu">
            <ul>
                <li><a href='#'><span>Home</span></a></li>
                <li class='active has-sub'>
                    <a href='#'><span>Products</span></a>
                    <ul>
                        <li class='has-sub'>
                            <a href='#'><span>Product 1</span></a>
                            <ul>
                                <li><a href='#'><span>Sub Product</span></a></li>
                                <li class='last'><a href='#'><span>Sub Product</span></a></li>
                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href='#'><span>Product 2</span></a>
                            <ul>
                                <li><a href='#'><span>Sub Product</span></a></li>
                                <li class='last'><a href='#'><span>Sub Product</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href='#'><span>About</span></a></li>
                <li class='last'><a href='#'><span>Contact</span></a></li>
            </ul>
        </div>
        <div class="container body-content">
            @RenderBody()
            @RenderSection("SPAViews", required: false)
        </div>
    </div>

    <footer class="footer--layout">
        <p>フッターです</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/UIParts/Menu")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angularjs")
    @RenderSection("Scripts", required: false)
</body>
</html>
